.merchBody{
    position: relative;
    bottom: -630px;
    background-image: linear-gradient(to right bottom, rgba(30, 255, 0, 0.7), rgba(150, 11, 11, 0.845));
}

.merchEach{
    display: inline-block;
    width: 397px;
    margin: 1em;
}

.btn-primary{
    right: 371px;
    position: relative;
    top: 190px;
}

.FooterNavbar{
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 98), rgba(40, 37, 37,99));
    position: relative;
    top: 620px;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    color: white;
}
.contactInfo{
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    color: white;
}
.Footer{
    padding: 20px;
}